<launch>
    <!-- You can change the condition order using condition_order:="[even,mouth,learned]" as an argument -->

    <param name="/social_dining_study/timingPerceptionOn" type="bool" value="False" />
    
    <!-- also launch gaze_proc.launch -->
    <include file="$(find bite_timing_robot)/launch/gaze_proc.launch"></include>
    <include file="$(find bite_timing_robot)/launch/bite_trigger.launch"></include>
    <!-- <include file="$(find bite_timing_robot)/launch/play_sound.launch"></include> -->



</launch>
