<launch>
    <!-- You can change the condition order using condition_order:="[even,mouth,learned]" as an argument -->

    <arg name="condition_order" default="[mouth, even, learned]"/>
    <arg name="kSubtrials" default="10"/>
    <param name="/social_dining_study/kSubtrials" type="int" value="$(arg kSubtrials)" />
    <param name="/social_dining_study/timingPerceptionOn" type="bool" value="False" />

    <rosparam param="/social_dining_study/condition_order" subst_value="True">$(arg condition_order)</rosparam>
    
    <!-- also launch gaze_proc.launch -->
    <include file="$(find bite_timing_robot)/launch/gaze_proc.launch"></include>
    <include file="$(find bite_timing_robot)/launch/bite_trigger.launch"></include>
    <!-- <include file="$(find bite_timing_robot)/launch/play_sound.launch"></include> -->



</launch>
